body {
  font-size: 9pt;
  padding-top: 72px;

  font-family: Arial, sans-serif;
}

h3 {
  margin: 0;
}

h1 {
  margin: 0 0 10px 0;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

.container-fluid {
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
}

.widget {

  position: relative;
  clear: both;

  width: auto;

  margin-bottom: 2em;
}

.widget-header {
  position: relative;
  height: 40px;
  line-height: 40px;
  background: #E9E9E9;
  background: -moz-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FAFAFA), color-stop(100%, #E9E9E9)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%); /* IE10+ */
  background: linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%); /* W3C */
  border: 1px solid #D5D5D5;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-background-clip: padding-box;
  h3 {

    position: relative;
    top: 2px;
    left: 10px;

    display: inline-block;
    margin-right: 3em;

    font-size: 14px;
    font-weight: 800;
    color: #555;
    line-height: 18px;

    text-shadow: 1px 1px 2px rgba(255, 255, 255, .5);
  }
}

.widget-header [class^="icon-"], .widget-header [class*=" icon-"] {
  display: inline-block;
  margin-left: 13px;
  margin-right: -2px;
  font-size: 16px;
  color: #555;
  vertical-align: middle;
}

.widget-content {
  padding: 5px;
  background: #FFF;
  border: 1px solid #D5D5D5;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.widget-header+.widget-content {
  border-top: none;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.widget-nopad .widget-content {
  padding: 0;
}

.widget-content:before,
.widget-content:after {
  content: "";
  display: table;
}

.widget-content:after {
  clear: both;
}

.grid-view {
  padding-top: 5px;
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  width: 1280px !important;
}

.page-container {
  padding: 10px 0;
}

.brand {
  margin-left: 0 !important;
  padding-left: 0 !important;
}

.widget-header {
  > i {
    float: left;
    margin-top: 15px;
  }
  h3 {
    float: left;
    display: block;
    line-height: 38px;
  }
  .buttons {
    float: right;
    margin-right: 10px;
    i {
      margin-top: -2px;
      margin-left: 0;
    }
  }
}

.header-button {
  margin-top: -45px;
  float: right;

  &:after {
    clear: both;
  }
}

.pagination {
  text-align: center;
  margin-bottom: 0;
}

.w-header {
  margin-bottom: 12px;
  h2 {
    margin: 0 18px 0 12px;
    line-height: 30px;
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
  }
}

.w-table {

  .list-view {
    padding: 0;

    .empty{
      display: block;
      text-align: center;
      font-size: 16px;
    }
  }

  ul.row {
    list-style: none;
    padding: 0 10px;
    margin-left: 0;

    li {
      list-style: none;
      display: block;
      float: left;
      min-height: 1px;

      &.clearfix {
        clear: both;
        float: none;
      }
    }
  }

  .w-thead {
    width: 100%;
    height: 35px;
    line-height: 35px;

    border: 2px solid #e3e3e3;
    border-radius: 10px 10px 0 0;
    border-bottom-width: 1px;
    border-top-width: 1px;

    box-shadow: 2px 2px 20px #e3e3e3;

    background-image: linear-gradient(bottom, rgb(238, 238, 238) 23%, rgb(248, 251, 255) 69%);
    background-image: -o-linear-gradient(bottom, rgb(238, 238, 238) 23%, rgb(248, 251, 255) 69%);
    background-image: -moz-linear-gradient(bottom, rgb(238, 238, 238) 23%, rgb(248, 251, 255) 69%);
    background-image: -webkit-linear-gradient(bottom, rgb(238, 238, 238) 23%, rgb(248, 251, 255) 69%);
    background-image: -ms-linear-gradient(bottom, rgb(238, 238, 238) 23%, rgb(248, 251, 255) 69%);

    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.23, rgb(238, 238, 238)), color-stop(0.69, rgb(248, 251, 255)));

    ul.row {
      height: 35px;

      li {
        line-height: 35px !important;
        color: #8c8c8c !important;
        font-size: 15px !important;
        font-weight: normal !important;
      }
    }
  }

  .w-tbody {
    width: 100%;
    background: #fff;
    padding: 5px 0 20px 0;

    border: 2px solid #e3e3e3;
    border-radius: 0 0 10px 10px;
    border-top-width: 0;
    box-shadow: 2px 2px 20px #e3e3e3;

    ul.row {
      border-bottom: 1px solid #e9e9e9;
      padding-top: 4px;
      padding-bottom: 4px;
    }
  }

}

.navbar {
  .nav {
    > li {
      line-height: 71px;
      height: 71px;
      > a {
        padding-top: 0;
        padding-bottom: 0;

      }
    }

    .dropdown-toggle {
      .caret {
        margin-top: 34px;
      }
    }
  }
  .dropdown-menu {
    top: 52px;
  }
}

.profile-block {
  margin-top: 10px;
  float: right;
  margin-right: 20px;
  padding-left: 100px;

  .photo {
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: #fff;
    border: 1px solid #cfcfcf;
    float: left;
    margin-right: 10px;
    text-align: center;
    vertical-align: middle;

    img {
      max-width: 48px;
      max-height: 48px;
    }
  }

  .username {
    font-size: 14px;
    color: #2083c6;
  }

  .dropdown-toggle{
    display: block;
    &:hover{
      text-decoration: none;
    }
  }

  .dropdown-menu{
    display: none;
    left: 100px;
  }
}

.breadcrumbs {
  margin: 10px 0 0 0;
}

.form {
  form {
    padding-bottom: 0;
  }
  fieldset {

    .param {
      margin: 8px 0;

      &.value-param {
        label, .value {
          display: inline-block;
        }
        .value {
          font-weight: bold;
        }
      }
    }

    input[type=text], input[type=password], textarea {
      margin: 0;
      width: 300px;
    }

    select {
      width: 313px;
    }

    textarea {
      height: 125px;
      width: 500px;
    }
  }

  .errorMessage {
    color: red;
  }
}