@color_worker: #fac840;
@color_customer: #79a101;
@color_admin: #3c8dca;

@color_admin_new: #c1e6ff;
@color_customer_new: #b7ce7f;
@color_worker_new: #ffdc7f;

@color_message_text: #2a2a2a;

#form_project {
  .header-block {
    .input {
      width: 70%;
      min-width: 340px;
      input {
        width: 99%;
      }
      float: left;
    }

    .status-block {
      width: 250px;
      text-align: right;
      float: right;
      .closed {
        font-size: 12px;
        font-weight: bold;
        float: right;
        margin: 5px 20px 0 10px;
        vertical-align: top;
      }

      .status-select {
        width: 150px;
      }
    }
    margin-bottom: 10px;
  }

  &.user-form {
    .description-block {
      clear: both;
      textarea {
        width: 90%;
        height: 200px;
      }
    }
    .additional-info {
      margin: 10px 0;
    }
    .submit-buttons {
      margin: 0;
      text-align: left;
    }
  }

  .widgets {
    .widget {
      float: left;
      width: 49%;
      clear: none;

      &:nth-child(2) {
        float: right;
      }

      input[type=text] {
        margin-bottom: 0;
      }

      .widget-content {
        padding: 15px;
      }

      label {
        font-weight: bold;
        display: block;
        margin-bottom: 5px;
      }

      .users-list {
        margin-top: 10px;
      }

      .lists {
        select, .buttons {
          display: block;
          float: left;
        }

        select {
          width: 270px;
          height: 155px;
        }

        .buttons {
          width: 30px;
        }

        .buttons {
          margin: 45px 10px 0;

          a {
            display: block;
            &:first-child {
              margin-bottom: 10px;
            }
          }
        }
      }

      .description-block {
        margin: 15px 0;
        label {
          display: inline-block;
          margin: 0 10px 0 5px;
          vertical-align: middle;
        }

        textarea {
          display: block;
          width: 98%;
          height: 250px;
          margin-top: 5px;
        }
      }

    }

  }

  .submit-buttons {
    text-align: center;
  }
}

.w-table.projects-table {

  .closed{
    .col-price, .col-name, .col-status .status{
      opacity: 0.3;
    }
  }

  li {

    &.col-name {
      width: 45%;

      a {
        color: #000;
        font-size: 14px;
        display: block;
        font-weight: bold;

        &:hover {
          color: #6ea7ff;
          text-decoration: none;
        }
      }

      span {
        color: #a0a6a9;
        font-size: 11px;
      }
    }

    &.col-price {
      width: 35%;
      text-align: center;
      font-size: 10px;
      font-weight: bold;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      .user {
        padding: 0 3px;

        &.worker, &.worker a {
          color: #ffba00;
        }

        &.customer, &.customer a {
          color: #709d00;
        }

        .username {
          margin-right: 65px;
          text-align: left;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          display: block;
        }

        .price {
          float: right;
          width: 62px;
          text-align: right;
          display: block;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          cursor: pointer;
        }

      }
    }

    &.col-status {
      width: 20%;
      text-align: center;
      color: #2083c6;
      font-size: 13px;

      .buttons {
        width: 25px;
        float: right;

        a {
          display: block;
          margin: 2px 0;
        }
      }
    }

  }
}

.w-table.comments-table {

  .w-thead {
    .col-message {
      text-align: center;
    }
  }

  .row {

    &.role-admin {
      .user-photo {
        border-color: @color_admin;
      }
    }

    &.role-customer {
      .user-photo {
        border-color: @color_customer;
      }
    }

    &.role-worker {
      .user-photo {
        border-color: @color_worker;
      }
    }

    &.no-read {
      &.role-admin {
        background: @color_admin_new;
      }
      &.role-customer {
        background: @color_customer_new;
      }
      &.role-worker {
        background: @color_worker_new;
      }

      .username, .col-project a {
        color: @color_message_text;
      }
    }

    &.readed {
      &.role-admin {
        .username, .col-project a {
          color: @color_admin;
        }
      }

      &.role-customer {
        .username, .col-project a {
          color: @color_customer;
        }
      }

      &.role-worker {
        .username, .col-project a {
          color: @color_worker;
        }
      }
    }
  }

  li {
    &.col-project {
      width: 30%;
    }
    &.col-message {
      width: 70%;

      .message-content {
        margin-left: 70px;
        p {
          color: @color_message_text;
          font-weight: 300;
          line-height: 14px;
        }
      }

    }
  }
}

#page_index {
  padding-top: 15px;

  .widget {
    float: left;
    width: 49%;
    clear: none;
    &:nth-child(2) {
      float: right;
    }
  }

  .w-tbody .items {
    min-height: 500px;
  }

  .comments-table {
    .w-tbody {
      overflow-y: scroll;
      max-height: 656px;
    }
  }

  .message-status-block {
    background: url('../img/footer_messages.png') no-repeat;
    width: 51px;
    height: 25px;
    bottom: 20px;
    position: fixed;
    right: 20px;
    display: none;
    cursor: pointer;

    &.new-exist {
      display: block;
    }

    span {
      font-family: Verdana;
      font-weight: bold;
      color: #fff;
      font-size: 14px;
      margin-left: 27px;
      line-height: 25px;
    }
  }
}

#page_profile {

  .user-params {
    margin-bottom: 25px;
    .param {

      &:after {
        display: table;
        line-height: 0;
        content: "";
        clear: both;
      }

      border-bottom: 1px solid #dddddd;
      padding: 5px 0;

      background: #f9f9f9;
      &:nth-child(2n) {
        background: #fff;
      }

      label {
        width: 25%;
        display: block;
        float: left;
        font-weight: bold;
        font-size: 12px;
        margin: 0;
      }
      span {
        width: 75%;
        float: right;
        display: block;
        text-align: left;
        font-size: 12px;
      }

    }
  }
}

#page_project {

  &.mode-admin {
    padding-bottom: 90px;

    [mode=customer] {
      display: none;
    }
  }

  .header {
    background: #f5f1d6;
    padding: 5px 20px;
    overflow: hidden;

    h1 {
      font-size: 14px;
      line-height: 24px;
      margin: 0;
      display: inline-block;
    }

    span {
      display: inline-block;
      color: #41a9f2;

      &.price {
        margin: 0 35px;
      }
    }

    .btn {
      float: right;
      display: block;
    }

    .additional-info {
      padding: 15px 0;
      position: relative;

      #btn_hide_description {
        position: absolute;
        bottom: 15px;
        right: 0;
      }

    }

    .persons {
      overflow: hidden;
      .persons-list {
        float: left;

        &:first-child {
          margin-right: 50px;
        }

        h2 {
          margin: 0;
          font-size: 14px;
          color: #555555;
          line-height: 14px;
          margin-bottom: 2px;
        }

        ul {
          list-style: none;
          li {
            a {
              color: #555555;
              font-size: 12px;
              text-decoration: underline;
              &:hover {
                text-decoration: none;
              }
            }
          }
        }

      }
    }

    .project-description {
      margin-top: 20px;
    }
  }

  .comments-form {
    background: #f2f2f2;
    border-radius: 5px;
    padding: 8px;
    margin: 20px 0;
    min-height: 88px;
    position: relative;

    .disabled{
      background: #ccc;
      opacity: 0.5;
      z-index: 1000;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      position: absolute;
    }

    #btn_add_comment {
      vertical-align: bottom;
      position: absolute;
      z-index: 1;
      bottom: 10px;
    }

    textarea {
      width: 100%;
      height: 50px;
      margin-bottom: 5px;
      resize: vertical;
    }

    .files {
      display: inline-block;
      margin-left: 110px;
      vertical-align: bottom;
      min-height: 33px;

      .file-item {
        margin-bottom: 5px;

        .file {
          display: block;
          position: relative;
          cursor: pointer;
          margin-left: -25px;

          .btn-upload {
            background: url('../img/upload_icon.png') center right no-repeat;
            border: 0;
            padding: 5px 15px;
            display: block;
            padding-right: 15px;
            color: #727272;
            margin-right: 5px;
            padding: 4px 18px;
          }

          input[type=file] {
            cursor: pointer;
            font-size: 100px;
            filter: alpha(opacity=1);
            -moz-opacity: 0.01;
            opacity: 0.01;
            position: absolute;
            right: 0;
            top: 0;
          }
        }

        .filename-block {
          display: inline-block;

          a {
            color: red;
          }

          .status {
            font-size: 11px;
            display: inline-block;
            margin-left: 5px;
            &.status-error {
              color: red;
            }
            &.status-success {
              color: green;
            }
          }
        }

      }
    }
  }

  .buttons-row {
    .btn {
      margin-right: 7px;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  .comments-block {
    margin-top: 20px;
    position: relative;
    min-height: 200px;
    margin-bottom: 10px;

    .loader {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      z-index: 99999;
      background: url('../img/comments_loader.gif') center 10px no-repeat #fff;
      opacity: 0.5;
      display: none;
    }

    .comment-item {
      overflow: hidden;
      margin-bottom: 15px;
      position: relative;

      .edit-block {
        textarea {
          width: 80%;
          display: block;
          height: 60px;
          margin-bottom: 5px;
        }
      }

      .line {
        width: 5px;
        height: 100%;
        position: absolute;
        left: 60px;
      }


      &.unreaded {
        &.comment-admin{
          .comment-content{
            background: @color_admin_new;
          }
        }
        &.comment-worker{
          .comment-content{
            background: @color_worker_new;
          }
        }
        &.comment-customer{
          .comment-content{
            background: @color_customer_new;
          }
        }
      }

      .comment-content {
        margin-left: 77px;

        .user-name {
          font-weight: bold;
          font-size: 12px;
          display: block;
        }

        p {
          line-height: 18px;
          margin: 0;
        }

        .files {
          margin-top: 5px;
          li {
            margin-top: 8px;
            span {
              vertical-align: middle;
            }
            .btn {
              margin-left: 5px;
            }
            input[type=checkbox] {
              vertical-align: top;
              margin-right: 3px;
            }
          }
        }

        .time-label {
          margin-top: 16px;
        }
      }

      &.comment-worker {
        .user-photo {
          border-color: @color_worker;
        }
        .line {
          background: @color_worker;
        }
        .user-name, .files .filename {
          color: @color_worker;
        }
      }

      &.comment-customer {
        .user-photo {
          border-color: @color_customer;
        }
        .line {
          background: @color_customer;
        }
        .user-name, .files .filename {
          color: @color_customer;
        }
      }

      &.comment-admin {
        .user-photo {
          border-color: @color_admin;
        }
        .line {
          background: @color_admin;
        }
        .user-name, .files .filename {
          color: @color_admin;
        }
      }

    }

  }

  .project-footer {
    position: absolute;
    height: 105px;
    left: 0;
    bottom: 0;
    z-index: 999;
    width: 100%;
    position: fixed;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;

    .message-status-block {
      background: url('../img/footer_messages.png') no-repeat;
      width: 51px;
      height: 25px;
      bottom: 20px;
      position: absolute;
      bottom: 105px;
      right: 20px;
      display: none;
      cursor: pointer;

      &.new-exist {
        display: block;
      }

      span {
        font-family: Verdana;
        font-weight: bold;
        color: #fff;
        font-size: 14px;
        margin-left: 27px;
        line-height: 25px;
      }
    }

    &.customer {
      background: @color_customer;
    }

    &.worker {
      background: @color_worker;
    }

    .switches {
      text-align: center;
      margin-top: 15px;
      .switch {
        height: 55px;
        width: 230px;
        border-radius: 5px;
        display: inline-block;
        margin-bottom: 4px;
        padding: 5px;
        &:last-child {
          margin-left: 15px;
        }

        &.active {
          -moz-box-shadow: inset 0 2px 29px -10px #000;
          -webkit-box-shadow: inset 0 2px 29px -10px #000;
          box-shadow: inset 0 2px 29px -10px #000;
        }

        &.customer {
          background: @color_customer;
        }

        &.worker {
          background: @color_worker;
        }

        .switch-name {
          text-transform: uppercase;
          display: block;
        }

        .no-users {
          margin-top: 8px;
          display: block;
        }

        .user-name{
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .avatar {
          width: 48px;
          height: 48px;
          padding: 2px;
          float: left;
          img {
            max-width: 48px;
            max-height: 48px;
          }
        }

        .text {
          margin-left: 55px;
          overflow: hidden;
          text-overflow: ellipsis;          white-space: nowrap;
        }

      }
    }

  }

  #slider {
    position: relative;
    margin-top: 20px;

    .slider-pagination{
      li.active{
        a{
          background-color: #f5f5f5;
        }
      }
    }

    .slider-content {
      border: 1px solid #f1f1f1;
      border-radius: 10px;

      .out-link {
        clear: both;
        margin-top: 10px;
        font-size: 12px;
        margin-bottom: -20px;
        text-align: left;
        label {
          display: inline-block;
          font-weight: bold;
        }
      }
    }

    .loader {
      background: url('../img/comments_loader.gif') center center no-repeat #eee;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      opacity: 0.5;
      z-index: 9999;
    }

    .slider-page {
      overflow: auto;
      padding: 20px;
      position: relative;
      text-align: center;

      .page-actions {
        position: absolute;
        right: 5px;
        top: 5px;
        font-size: 9px;

        .btn-delete {
          color: red;
        }
      }


      .slider-item {
        margin: 10px;
        text-align: center;
        display: inline-block;
        &.html{
          float: none;
          clear: both;
        }
      }
    }
  }
}

#popup_form {
  width: 400px;
  position: relative;

  textarea {
    width: 100%;
    height: 120px;
    margin-bottom: 5px;
  }

  .files {
    li {
      padding-left: 4px;
      margin: 3px 0;
    }
    .filename {
      color: @color_admin;
      padding-right: 3px;
    }
  }

  .footer {
    overflow: hidden;
    label {
      margin: 5px 0 0 5px;
      float: left;
      color: green;
      font-size: 12px;
      input[type=checkbox] {
        margin-right: 3px;
      }
    }
    .btn {
      float: right;
      font-size: 12px;
    }
  }
}

#popup_html_slider {
  textarea {
    width: 600px;
    height: 200px;
    display: block;
    margin: 5px 0;
  }
}
