.container {
  width: 480px !important;
}

.profile-block {
  margin-top: -90px;
}

.form {
  fieldset {
    input[type=text], input[type=password], textarea {
      margin: 0;
      width: 100%;
    }

    select{
      width: 100%;
    }

    textarea{
      height: 100px;
      width: 100%;
    }
  }

  .form-actions{
    text-align: center;
  }
}