.container {
  width: 350px !important;
}

.profile-block {
  margin-top: -75px;
  margin-right: 0;
  .username{
    display: none;
  }
}

.form {
  fieldset {
    input[type=text], input[type=password], textarea {
      margin: 0;
      width: 100%;
    }

    select{
      width: 100%;
    }

    textarea{
      height: 100px;
      width: 100%;
    }
  }

  .form-actions{
    text-align: center;
  }
}


.brand{
  img{
    width: 115px;
  }
}

.navbar .nav > li a{
  font-size: 8px
}

.btn-group{
  a{
    font-size: 12px !important;
    padding: 4px 10px;
  }
}

#page_users{
  tr{
    th:nth-child(4), td:nth-child(4), th:nth-child(5), td:nth-child(5),  th:nth-child(6), td:nth-child(6), th:nth-child(7), td:nth-child(7){
      display: none;
    }
  }
}