.message-status-block{
  display: none !important;
}

.page-container{
  padding-top: 40px !important;
}

body {
  padding-top: 30px !important;
}

.nav-collapse{
  clear: both;
}

.navbar-inner {
  min-height: 0;
}

.nav-collapse {
  clear: both;
}

.navbar {
  .nav {

    padding-left: 0;

    > li {
      line-height: 57px;
      height: 57px;
    }

    .dropdown-toggle {
      .caret {
        margin-top: 25px;
      }
    }
  }

  .dropdown-menu {
    top: 25px;
  }

}

.profile-block {
  margin-top: -25px;
  margin-right: 0;

  width: 181px;
  text-align: right;

  .user-photo {
    display: none;
  }
  .username {
    font-size: 12px;
    line-height: 48px;
  }
  .dropdown-menu {
    left: 25px;
  }
}

