body {
  padding-top: 100px;
}

.brand{
  display: none !important;
}

#form_project {

  .header-block {
    .status-block{
      float: none;
      clear: both;
      text-align: left;
    }
  }

  .widgets {
    .widget {
      .lists {
        select {
          width: 100%;
          display: block;
        }

        .buttons {
          margin: 0 auto;
          text-align: center;
          width: 100%;
          a {
            display: inline-block;
            margin: 5px !important;

            .icon-arrow-left {
              background-position: -289px -96px;
            }

            .icon-arrow-right {
              background-position: -312px -96px;
            }
          }
        }
      }
    }
  }
}


#page_index{
  .widget{
    float: none;
    width: 100%;
    margin-bottom: 10px;

    .w-tbody .items{
      min-height: 0;
    }
  }
}