body{
  padding-top: 100px;
}
.nav-collapse{
  clear: both;
}

.navbar{
  .nav{

    padding-left: 0;

    > li{
      line-height: 30px;
      height: 30px;
    }

    .dropdown-toggle{
      .caret {
        margin-top: 13px;
      }
    }
  }

  .dropdown-menu{
    top: 25px;
  }

}